body{
    background-color: rgb(255, 102, 102);
    transition: background-color 0.6s, color 0.4s; 
}

#inicio{
    background-color: rgb(217, 95, 95);
    box-shadow: 20px 10px 10px black;
    width: 35%;
    height: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 15%;
    border-radius: 20px;
    transition: background-color 0.6s, color 0.4s; 


}
#textoInicio{
    margin: 0 auto;
    font-size: 30px;
    padding: 15px;
    margin-bottom: 10%;
}

#botaoSenha{
    background-color: transparent;
    border: transparent;
    width: 40px;
    height: 40px;
}

#botaoMudar{
    background-color: transparent;
    border: transparent;
    position: absolute;
    top: 30%;
    left: 63%;
    width: 5em;
    height: 5em;
}

#botaoMudar:hover{
    transition: 500ms;
    color: white;
}

form{
    display: flex;
    flex-direction: column;

}
#nome, #senha{
    border-radius: 20px;
    margin-bottom: 10px;
    height: 30px;
    display: flex;
    align-items: center;
}


#botaoEnviar{
    background-color: rgb(177, 59, 59);
    border: transparent;
    width: 50%;
    padding: 9px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 20px;
}
#botaoEnviar:hover{
    transition: 500ms;
    background-color: rgb(243, 32, 99);
}
