body{
    background-image: url(imagens/pizza.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;

}

#inicio{
    background-color: rgba(15, 11, 2, 0.726);
    box-shadow: 13px 10px 10px black;
    width: max-content;
    height: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 15%;
    border-radius: 20px;
    transition: background-color 0.6s, color 0.4s; 


}

#cadastrar{
    background-color: rgba(15, 11, 2, 0.726);
    box-shadow: 13px 10px 10px black;
    width: max-content;
    height: 20em;
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 15%;
    border-radius: 20px;
    transition: background-color 0.6s, color 0.4s;
}
h1{
    /* background-color: black; */
    margin: 0 auto;
    font-size: 30px;
    padding: 15px;
    margin-bottom: 2vh;
}

#botaoSenha{
    background-color: transparent;
    border: transparent;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.botaoMudar{
    background-color: transparent;
    border: transparent;
    width: 5em;
    height: 5em;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.botaoMudar:hover{
    animation: mudarCor alternate 5s linear infinite;

}

#tituloLogin{
    display: flex;
    flex-direction: row;
    width: max-content;
    text-align:center;
    /* background-color: red; */
}

#tituloCadastro{
    display: flex;
    flex-direction: row;
    width: max-content;
    text-align:center;
    /* background-color: red; */
}

form{
    display: flex;
    flex-direction: column;
    align-items: centergit;

}
#senhaCriada, #emailCriado{
    border-radius: 20px;
    margin-bottom: 10px;
    height: 30px;
    display: block;
    align-items: center;
}
#senha, #email, #inputNome{
    border-radius: 20px;
    margin-bottom: 10px;
    height: 30px;
    display: flex;
    align-items: center;
}

#inputSenha{
    border-radius: 20px;
    margin-top: 20px;
    height: 30px;
    display: flex;
    align-items: center;
}
#botaoEnviar, #botaoCadastrar{
    background-color: rgb(235, 140, 15);
    border: transparent;
    width: max-content;
    padding: 9px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 20px;
    width: 10vh;
}
#botaoEnviar:hover, #botaoCadastrar:hover{
    transition: 800ms;
    background-color: rgb(221, 81, 0);
    border: solid rgb(235, 140, 15) 2px;
    cursor: pointer;
}


.botaologin{
    font-size: 15px;
    background-color: transparent;
    border-radius: 30px;
    border: transparent;
    height: 6vh;
    width: 15vh;
    color: white;
    text-align: center;


}

.botaologin:hover{
    transition: 500ms;
    transform: scale(1.15);
    color: rgb(102, 102, 102);
    cursor: pointer;
    
    
}


@keyframes mudarCor{
    0%{
        color: white;
    }
    15%{
        color: red;
    }
    30%{
        color: blue;
    }
    45%{
        color: purple;
    }
    60%{
        color: yellow;
    }
    75%{
        color: green;
    }
    90%{
        color: orange;
    }
    100%{
        color: pink;
    }

}